.edit-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form {
    display: flex;
    height: 100%;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
