.profile-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
}

.profile-column-fields {
    width: 380px;
}

.profile-input {
    background-color: rgba(0,0,0, .01);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font: normal 20px SansSerif;
    height: 40px;
    width: 350px;
    padding: 10px;
    margin: 10px 0;
}

.profile-input:disabled {
    font: normal 20px SansSerif;
    background-color: rgba(0,0,0, .04);
    color: black;
}

#profile-name {
    text-align: center;
    font: normal 30px SansSerif;
    border-bottom: 1px solid black;
}

.profile-button-edit {
    overflow: hidden;
    background-color: transparent;
    color: rgba(0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, .8);
    border-radius: 5px;
    width: 100%;
    padding: 8px 0;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.profile-button-edit:hover {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    background-color: rgba(196, 196, 196, 0.4);
}

.profile-avatar {
    width: 300px;
    height: 300px;
}