.profile-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profiles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}