.research-card {
    width: 240px;
    height: 280px;
    margin: 10px 10px;
}

.research-card-header {
    padding: 0!important;
}

.research-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.research-card-area {
    width: 100%;
    height: 100%;
}

.research-icon-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 24px;
}
  
.research-icon-container {
    width: 128px;
    height: 128px;
}
